.resume-container {
	max-width: 550px;
	margin: 0 auto;
	line-height: 1.25;
}
.body-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.body-left-container {
	width: 65%;
	border-right: 1px solid gray;
}
.body-right-container {
	max-width: 200px;
}
